<div class="buttons">
  <%= button_to "Create Viewing Party" %>
  <%= button_to "Discover Page", "/users/#{@user.id}/discover" %>
</div>
<div class="movie-info">
  <p>Title: <%= @movie.title %></p>
  <p>Vote Average: <%= @movie.vote_avg %></p>
  <p>Runtime: <%= "#{@movie.runtime/60} hours #{@movie.runtime%60} minutes" %></p>
  <p>Genre(s): <% @movie.genre.each do |genre| %>
                  <%= genre[:name] %>
              <% end %>
  </p>
  <p>Summary: <%= @movie.summary %></p>
  <p>Total Reviews: <%= @reviews.count %></p>
  <p>Authors: <% @reviews.each do |review| %>
              <%= review.author %>
              <% end %>
              </p>
  <p>Title: <%= @movie.title %></p>
  <p>Title: <%= @movie.title %></p>
  <p>Title: <%= @movie.title %></p>
</div>
