<div class="name">
  <h2><%= @user.name %></h2>
</div>
<div class="discover_movies">
  <%= button_to "Discover Movies", "/users/#{@user.id}/discover", method: :get %>
</div>
<div class ="viewing-parties">
<div class= "invited">
  <h1>My Invitations</h1>
  <%= @invited_parties.each do |party| %>
    <p>Movie: <%= link_to party.movie, user_movie_path(@user, party.movie_id)  %></p>
    <p>Date: <%= party.date %> Time: <%= party.start_time %></p>
    <p>Host: <%= party.find_host %></p>
    <ul>
    <p>Guests <% party.users.each do |user| %></p>
      <li> <%= user.name %></li>
    <% end %>
    </ul>
      <img src="https://image.tmdb.org/t/p/original<%= @movies.find {|movie| movie.id == party.movie_id}.poster  %>" alt="Italian Trulli">
  <% end %>
</div>
<div class= "hosted-parties">
  <h1>MY PARTIES:</h1>
<% @host_parties. each do |party| %>
    <p>Movie: <%= link_to party.movie, user_movie_path(@user, party.movie_id)  %></p>
    <p>Date: <%= party.date %> Time: <%= party.start_time %></p>
    <ul>
    <p>Guests <% party.users.each do |user| %></p>
      <li> <%= user.name %></li>
    <% end %>
    </ul>
      <img src="https://image.tmdb.org/t/p/original<%= @movies.find {|movie| movie.id == party.movie_id}.poster  %>" alt="Italian Trulli">
  <% end %>
</div>
 </div>
