<div class="name">
  <h2><%= @user.name %></h2>
</div>
<div class="discover_movies">
  <%= button_to "Discover Movies", "/users/#{@user.id}/discover", method: :get %>
</div>
<div class="viewing_parties">
  <p>Upcoming Parties:
  <% @user.parties.each do |party| %>
    <%= party.movie %>
    <div>
        <div class= "invites-<%= party.id %>">
      <h1>Party Guests: </h1>

      <% party.users.each do |user| %>
      <p class="#{user.id}"><b><%= user.name %></b></p>
      <% end %>
        </div>
    </div>
  <% end %></p>
</div>
